.portada-libro {
    height: 300px;
    object-fit: cover;
}

.tooltip {
    margin-top: -50px;
}

.disabled {
    color: rgb(169, 169, 169) !important;
    background-color: rgb(245, 245, 245) !important;
}